<div class="container text-right mb-3">
  <ion-button size="large" type="button" data-toggle="modal" data-target="#staticBackdrop">Ajouter</ion-button>
</div>
{% for item in categorie %}
<ion-card>
<a href="/mobile/produits">
<img src="{{ asset(item.image) }}"  class="img__categorie" alt="">
</a>
  <ion-card-header>
    <ion-card-subtitle>Nom</ion-card-subtitle>
    <ion-card-title>{{item.nom}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.description}}
  </ion-card-content>
  <div  class="container text-center">
    <ion-icon id="deteleCat" data-idcat="{{item.id}}" style="height: 35px;width:35px;color:red;" name="trash-outline"></ion-icon>
  </div>
</ion-card> 
{% endfor %}
