<h1 class="text-center">
    Paramètrage du sites
</h1>
<div class="container">
    <div class="form-group">
        <label for="exampleInputEmail1">Numéro Whatsapp</label>
        <input type="text" class="form-control" id="exampleInputEmail1" value="772406480" disabled aria-describedby="emailHelp">
      </div>
      <div class="form-group">
           <label for="exampleFormControlTextarea1">Message Whatsapp</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="message" rows="2"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Valider</button>

</div>